<header>
    <h1>{{ site.title | escape }}</h1>
    <!-- <h2><span class="heading-emoji">📍</span> Currently</h2> -->
    <div class="intro-text">
        <p>
            Living in Zurich, Switzerland.
            I'm currently looking for my next thing
            somewhere between sofware/tech and product.
            You can find some of my past work below.
        </p>
        <p>
            Feel free to reach out if you would like to talk about working together,
            have a question I might be able to answer, or just want to chat!
        </p>
    </div>
    <div class="wrapper">
        <h2><span class="heading-emoji">💬</span> Find Me Elsewhere</h2>
        <ul class="link-list">
            <li><a href="mailto:mail@benjaminschneider.ch"><span class="link-caret"></span>Email</a></li>
            <li><a href="https://x.com/bschne"><span class="link-caret"></span>Twitter</a></li>
            <li><a href="http://bsky.app/profile/benjaminschneider.ch"><span class="link-caret"></span>Bluesky</a></li>
            <li><a href="https://linkedin.com/in/schneiderbenjamin/"><span class="link-caret"></span>LinkedIn</a></li>
        </ul>
    </div>
    <!--
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%} {%- assign
        page_paths = site.header_pages | default: default_paths -%} {%- if
        page_paths -%}
        <h2><span class="heading-emoji">👍</span> Recommendations</h2>
        <ul class="link-list">
            {%- assign nav_pages = site.pages | where_exp: "page", "page.page_category == 'recommendations'" -%}
            {%- for page in nav_pages -%}
              <li><a class="page-link" href="{{ page.url | relative_url }}"><span class="link-caret"></span>{{ page.title | escape }}</a></li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
-->
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%} {%- assign
            page_paths = site.header_pages | default: default_paths -%} {%- if
            page_paths -%}
            <h2><span class="heading-emoji">🏗️</span> Work</h2>
            {%- assign projects = site.pages | where_exp: "page", "page.page_category == 'projects'" -%}
            {%- for project in projects -%}
            <div class="post-item">
                <a class="post-link" href="{{ project.url | relative_url }}">
                    {{ project.title | escape }} ({{ project.displaydate }})
                </a><br>
                {%- if site.show_excerpts -%}
                <span class="post-excerpt">{{ project.excerpt }}</span>
                {%- endif -%}
            </div>
            {%- endfor -%}
        {%- endif -%}
    </div>
</header>
