<header>
    <h1>{{ site.title | escape }}</h1>
    <div class="intro-text">
        <p>
            Living in Zurich, Switzerland.
            I'm currently looking for my next thing
            somewhere between sofware/tech and product.
            You can find some of my past work below.
        </p>
        <p>
            Feel free to reach out if you would like to talk about working together,
            have a question I might be able to answer, or just want to chat!
        </p>
    </div>
    <div style="margin: 0.5em 0 1.5em 0; font-size: 1rem;">
        <a href="mailto:mail@benjaminschneider.ch">Email</a>
        &nbsp;·&nbsp;
        <a href="https://x.com/bschne">Twitter</a>
        &nbsp;·&nbsp;
        <a href="http://bsky.app/profile/benjaminschneider.ch">Bluesky</a>
        &nbsp;·&nbsp;
        <a href="https://linkedin.com/in/schneiderbenjamin/">LinkedIn</a>
    </div>
    <div class="wrapper">
        <h2>Pages</h2>
        <ul class="post-list">
            {%- assign static_pages = site.pages | where_exp: "page", "page.layout == 'page' and page.url != '/' and page.title != null" -%}
            {%- for page in static_pages -%}
                <li>
                    <a class="post-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
                    <br>
                    <span class="post-excerpt">{% if page.excerpt %}{{ page.excerpt }}{% endif %}</span>
                </li>
            {%- endfor -%}
        </ul>
        </div>
    <div class="wrapper">
        <h2>Work</h2>
        {%- for project in site.data.projects -%}
        <div class="post-item">
            {%- if project.link -%}
            <a class="post-link" href="{{ project.link }}" target="_blank" rel="noopener">
                {{ project.title | escape }} ({{ project.timeframe }})
            </a>
            {%- else -%}
            <span class="post-link">{{ project.title | escape }} ({{ project.timeframe }})</span>
            {%- endif -%}<br>
            <span class="post-excerpt">{{ project.description }}</span>
        </div>
        {%- endfor -%}
    </div>
</header>
